/*
 code.less: application/src/content/jcr_root/etc/ui-frameworks/step-1-framework/themes/default/css/code.less
 */
p code {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-family: monospace;
}